* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    width: 100%;
    border-top: 2px solid #fa7d3c;
    /* background-position: 50% 40%; */
}

#head {
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.94);
    height: 48px;
    width: 100%;
    margin: 0 auto;
}

#head  .logo{
    margin-left: 50px;
    display: inline-block;
    width: 100px;
    height: 48px;
text-align: center;
vertical-align: middle;
    background: url(./img/WB_logo.png) no-repeat 0 40%;
}


#head li {
    
   
    line-height: 48px;
float: left;
    margin-left: 15px;
}
#head li a{
    margin-right: 10px;
}


#head li span ,#head li a{
    font-size: 14px;
    height: 26px;
    color: #333;
}


#head .headright {
    float: right;
}

#head .headleft {
    float: left;
}